@font-face {
    font-family:"Barlow Condensed";
    src: url(Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family:"Barlow Semi-Condensed";
    src: url(Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family:"Bungee Outline";
    src: url(Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: "Barlow Semi-Condensed Bold";
    src: url(../HTML/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf);
}

body {
    background-image: url(../img/Mjbak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-width: 90vw;
    display: flex;
    justify-content: center;
}

#wrapperforeverything {
    height: auto;
    max-width: 83%;
   
    background-color: rgba(0, 0, 0, 0.536);
    border-radius: 20px;
    margin-top: 4%;
    margin-bottom: 8%;
}

#wrapperforeverything h1 {
    color:white;
    font-size: 6vw;
    font-family: "Bungee Shade";
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 5%;
}

nav {
    padding: 2%;
    display: flex;
    gap: 4px;
    margin-bottom: 5%;
    margin-right: 2vw;
}

a {
    background-color: rgba(255, 255, 255, 0.642);
    color: black;
    text-decoration: none;
    padding: 1.5%;
    flex-basis: 21.7%;
    flex-shrink: 0;
    text-align: center;
    border-radius: 10px;
    font-size: 2vw; 
    font-family:"Barlow Semi-Condensed"; 
}

a:hover {
    background-color: rgba(0, 0, 0, 0.589);
    color:white;
}

nav > :nth-child(2) {
    outline: none;
    border: 2px solid #ffe79e;
    box-shadow: 0 0 20px #fffae9; 
    font-family: "Barlow Semi-Condensed Bold";
}

nav:hover > :nth-child(2)  {
    color: black;
    background-color: rgba(255, 255, 255, 0.642);
    cursor: default;  
}

header {
    height: auto;
    width: 95.9%;
    background-color: rgba(0, 0, 0, 0.336);
    margin-left: 1.9%;
    border: 1px solid white;
    border-radius: 10px;
}

h2 {
    font-size: 3.3vw;
    padding: 20px 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
    font-family: "Bungee Outline";
    margin-left: 1%;
}

h3 {
    font-size: 2.3vw;
    padding: 20px 10px;
    padding-top: 5px;
    margin-top: 0;
    color: white;
    font-family: "Barlow Condensed";
    margin-left: 1%;
}

section div p{
    color: white;
    margin-left: 12%;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: "Barlow Semi-Condensed";
    font-size: 1.5vw;
}

section h6 {
    font-size: 1.5vw;
    color: white;
    margin-left: 2.5%;
    margin-bottom: 0;
    max-width: 50vw;
    font-family: "Barlow Semi-Condensed";
    font-weight: lighter;
}

section {
    display: flex;
}

section img {
    border-radius: 20px 20px 0px 0px;
    margin: 2%;
    margin-right: 15px;
    margin-bottom: 3px;
    margin-top: 3%;

    width: 34.4vw;
    height: 34.4vw;  
}

section div img:hover {
    content: url(../img/MJrecord11.jpg);
    height: 34.4vw;
    width: 34.4vw;   
}

.bildegrid-1 {
    display: grid;
}

.middleboxes1 {
    display: flex;
    gap: 7px;
}

.middleboxes1 > :first-child {
   background-color: rgb(0, 0, 0);
   width: 17vw;
   border-radius: 0px 0px 20px 20px;
   color: whitesmoke;
   margin-left: 0.6vw;
   padding: 1.5vw 0;
}

.middleboxes1 > :last-child {
    background-color: rgb(0, 0, 0);
    width: 17vw;
    border-radius: 0px 0px 20px 20px;
    color: whitesmoke;
    margin-right: 1.1vw;
    padding: 1.5vw 0;  
}

.middleboxes1 p {
    margin-left: 20%;
    margin-bottom: 2px;
    font-size: 1.6vw;
    font-family: "Barlow Semi-Condensed";
}

.middleboxes1 ol {
    margin-top: 0px;
    font-size: 1.1vw;
    font-family: "Barlow Semi-Condensed";
}

.bottomboxes-1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    
    max-width: 98%;
    margin-left: 1%;
    margin-bottom: 2%;
    margin-top: 1vw;
    gap: 4px; 
}

.bottomboxes-1 p {
    font-family: "Barlow Condensed";
    font-size: 1.2vw;
    width: 80%;
    margin: 15% auto;
}

.bottomboxes-1 > :first-child {
    grid-column: 1;
    background-color: whitesmoke;
    border-radius: 20px 0px 20px 20px;
    display: grid;
    align-items: center;
    margin: 2%;
}

.bottomboxes-1 :nth-child(2) {
    grid-column: 3;
    background-color: whitesmoke;
    border-radius: 20px 20px 20px 0px;
}

.bottomboxes-1 :nth-child(3) {
    grid-column: 4;  
    background-image: url(../img/MJinbox.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 20px;
    color: whitesmoke;
    display: grid;
    align-items: end;  
}

.bottomboxes-1 :nth-child(4) {
    grid-column: 5;
    background-color: whitesmoke;
    border-radius: 20px 20px 0px 20px;
    display: grid;
    align-items: center;
    margin: 0.5%;
    
}

main {
    height: auto;
    width: 95.9%;
    background-color: rgba(0, 0, 0, 0.336);
    margin-left: 1.9%;
    margin-top: 2%;
    border: 1px solid white;
    border-radius: 10px;
}

footer div p{
    color: white;
    margin-left: 12%;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: "Barlow Semi-Condensed";
    font-size: 1.5vw;
}

footer h6 {
    font-size: 1.5vw;
    color: white;
    margin-left: 2.5%;
    margin-bottom: 0;
    max-width: 50vw;
    font-family: "Barlow Semi-Condensed";
    font-weight: lighter;
}

footer {
    display: flex;
}

footer img {
    border-radius: 20px 20px 0px 0px;
    margin: 2%;
    margin-right: 15px;
    margin-bottom: 8px;
    margin-top: 3%;

    width: 34.4vw;
    height: 34.4vw;  
}

footer div img:hover {
    content: url(../img/MJrecord22.jpg);
    height: 34.4vw;
    width: 34.4vw;   
}


.bildegrid-2 {
    display: grid;
}

#middleboxes2 {
    display: flex;
    gap: 7px;
}

#middleboxes2 > :first-child {
   background-color: rgb(42, 17, 3);
   width: 17vw;
   border-radius: 0px 0px 20px 20px;
   color: whitesmoke;
   margin-left: 0.6vw;
   padding: 1vw 0;
}

#middleboxes2 > :last-child {
    background-color: rgb(42, 17, 3);
    width: 17vw;
    border-radius: 0px 0px 20px 20px;
    color: whitesmoke;
    margin-right: 1.1vw;
    padding: 1vw 0;  
}

#middleboxes2 p {
    margin-left: 20%;
    margin-bottom: 1%;
    font-size: 1.6vw;
    font-family: "Barlow Semi-Condensed";
}

#middleboxes2 ol {
    margin-top: 0;
    font-size: 1.1vw;
    font-family: "Barlow Semi-Condensed";
}

.bottomboxes-2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr 2fr 1fr;

    max-width: 98%;
    margin-left: 1%;
    margin-bottom: 10px;
    margin-top: 1vw;
    gap: 4px;
}

.bottomboxes-2 p {
    font-family: "Barlow Condensed";
    color: black;
    font-size: 1.2vw;
    width: 80%;
    margin: 7% auto;
}

.bottomboxes-2 :nth-child(3) p {
    color: white;
}

.bottomboxes-2 > :first-child {
    grid-column: 1;
    background-color: rgb(238, 189, 103);
    border-radius: 20px 20px 20px 0px;
    display: grid;
    align-items: center;   
}

.bottomboxes-2 :nth-child(2) {
    grid-column: 2;
    background-color: rgb(238, 189, 103);
    border-radius: 0px 20px 20px 20px;
    display: grid;
    align-items: center;
}

.bottomboxes-2 :nth-child(3) {
    grid-column: 3;  
    background-image: url(../img/mjgold.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0px 20px 20px 20px; 
    
    display: grid;
    align-items: end;
}

.bottomboxes-2 :nth-child(4) {
    grid-column: 4;
    background-color: rgb(238, 189, 103);
    border-radius: 20px 20px 0px 20px;
    display: grid;
    align-items: center;
    margin: 0.5%;    
}

h5 {
    color: white;
    font-family: "Barlow Semi-Condensed";
    margin-left: 2%;
    margin-top: 6%;
    font-size: 1vw;
    margin-bottom: 0;
}









/* MEDIA QUERIES SECTION FOR MOBILE!! */

@media (max-width: 500px) {

    body {
        background-image: url(../img/possible2.jpg);
    }

    #wrapperforeverything {
        background-color: rgba(0, 0, 0, 0);
        max-width: 90%;
    }

    #wrapperforeverything h1 {
        font-size: 60px;
        text-align: center;
        margin-bottom: 15%;
    }

    a {
        height: 45px;
        flex-basis: 24.8%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5vw;
        box-sizing: border-box;
        border-radius: 10px;
    }

    header {
        height: auto;  
    }

    section {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 120vw 1fr;
    }

    .bildegrid-1 {
        grid-column: 1; 
    }

    section > :first-child {
        grid-column: 1 / 4;
        grid-row: 2;

        font-size: 100px;
    }

    
    section img {
        width: 82vw;
        height: 82vw; 
        margin-left: 3.5%;
    }
    
    section div img:hover {
        height: 82vw;
        width: 82vw;   
    }


    h2 {
        margin-top: 3%;
        font-size: 7.5vw;
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
        padding-top: 0;
        font-size: 5vw;
    }

    section div p {
        font-size: 4vw;
        margin-bottom: 10vw;
    }

    section h6 {
        margin-top: 20px;
        font-size: 3.5vw;
        max-width: 370px;
        margin-left: 4%;
    }

    .middleboxes1 > :first-child {
        width: 40vw;
        padding: 1vw 0;
        line-height: 20px;
        margin-left: 3.5%;
    }
        
    .middleboxes1 > :last-child {
        width: 41.5vw;
        padding-top: 1vw; 
        line-height: 20px; 
    }
        
    .middleboxes1 p {
        font-size: 4vw;
    }
        
    .middleboxes1 ol {
        font-size: 3vw;
    }

    .bottomboxes-1 {
        display: grid;
        justify-content: center;
        grid-template-columns: 26vw 26vw 26vw;
        grid-template-rows: 170px 170px;
        
        max-width: none;
        margin-left: none;
        margin-right: 3%;
        margin-top: 2vw;
        gap: 4px;  
    }
    
    .bottomboxes-1 p {
        font-size: 80%;
        width: 20vw;
        margin: 5%;
        margin-left: 12px; 
    }
    
    .bottomboxes-1 > :first-child {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
    }

    
    .bottomboxes-1 :nth-child(2) {
        grid-column: 2 / 4;
        grid-row: 1;
        border-radius: 20px 20px 20px 0px; 
    }

    .bottomboxes-1 :nth-child(2) p {
        width: 200px;
        margin-top: 50px;
    }
    
    .bottomboxes-1 :nth-child(3) {
        grid-column: 2;  
        grid-row: 2; 
    }
    
    .bottomboxes-1 :nth-child(4) {
        grid-column: 3;
        grid-row: 2;
        margin: 0%; 
    }


    /* SECOND HALF OF THE PAGE FOR MOBILE RESPONSIVENESS */

    main {
        height: auto;
    }

    footer {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 120vw 1fr;
    }

    .bildegrid-2 {
        grid-column: 1; 
    }

    footer > :first-child {
        grid-column: 1 / 4;
        grid-row: 2;

        font-size: 100px;
    }

    
    footer img {
        width: 80vw;
        height: 80vw; 
        margin-left: 3.5%;
    }
    
    footer div img:hover {
        height: 80vw;
        width: 80vw;   
    }

    footer div p {
        font-size: 4vw;
        margin-bottom: 10vw;
    }

    footer h6 {
        margin-top: 15px;
        font-size: 3.5vw;
        max-width: 360px;
        margin-left: 4%;
    }

    #middleboxes2 > :first-child {
        width: 39.5vw;
        padding: 1vw 0;
        line-height: 23px;
        margin-left: 3.5%;
    }
        
    #middleboxes2 > :last-child {
        width: 39vw;
        padding-top: 1vw; 
        line-height: 23px; 
    }
        
    #middleboxes2 p {
        font-size: 4vw;
    }
        
    #middleboxes2 ol {
        font-size: 3vw;
    }


    .bottomboxes-2 {
        grid-template-columns: 27vw 27vw 25vw;
        grid-template-rows: 170px 170px;

        max-width: none;
        margin-left: 1.5%;
        margin-right: 3%;
        margin-top: 2vw;
        gap: 4px;
    }

    .bottomboxes-2 p {
        font-size: 2.5vw;
        width: 85%;
    } 

    .bottomboxes-2 > :first-child {
        grid-column: 1 / 3; 
        grid-row: 1; 
        margin-left: 10px;
    }

    .bottomboxes-2 :nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1;
    }

    .bottomboxes-2 :nth-child(3) {
        grid-column: 1 / 3; 
        grid-row: 2;
        margin-left: 10px;
    }

    .bottomboxes-2 :nth-child(4) {
        grid-column: 3;
        grid-row: 2;
        margin: none;    
    }

    h5 {
        margin-top: 15vw;
        font-size: 3vw;
    }


    section > :nth-child(3) {
        display: none;
    } 

    section > :nth-child(4) {
        display: none;
    }

    footer > :nth-child(3) {
        display: none;
    }

    footer > :nth-child(4) {
        display: none;
    }

}






/* MEDIA QUERIES FOR 800 - 900 FONT SIZES!!*/

@media (min-width: 800px) and (max-width: 900px) {

    #wrapperforeverything h1 {
        font-size: 55px;
    }

    nav {
        margin-right: 18px;
    }

    a {
        font-size: 20px;
        padding: 11px;
    }

    header {
        height: auto;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    section div p{
        font-size: 12px;
    }

    section h6 {
        font-size: 12px;
    }

    .middleboxes1 p {
        font-size: 12px;
    }

    .middleboxes1 ol {
        font-size: 11px;
    }

    .bottomboxes-1 p {
        font-size: 12px;
        padding: 8px 0;
    }

    .bottomboxes-1 :nth-child(4) {
        margin-right: 5%;
    }


/* SECOND HALF OF PAGE FOR 800 - 900 */


    main {
        height: auto;
    }

    footer div p{
        font-size: 12px;
    }

    footer h6 {
        font-size: 12px;

    }

    #middleboxes2 p {
        font-size: 13px;

    }

    #middleboxes2 ol {
        font-size: 12px;
    }


    .bottomboxes-2 p {
        font-size: 12px;
        padding: 3px 0;
    }

    .bottomboxes-2 :nth-child(4) {
        margin-right: 5%;
    }

    #wrapperforeverything {
        height: 1600px;
    }

    h5 {
        font-size: 15px;
    }

}

/* MEDIA QUERIES TO STOP EVERYTHING FROM GROWING AFTER 1200PX*/

@media (min-width: 1200px) {

    #wrapperforeverything h1 {
        font-size: 70px;
    }

    #wrapperforeverything {
        height: 2050px;
        max-width: 1000px;
        margin-top: 55px;
        margin-bottom: 80px;
    }

    a {
        flex-basis: 205px;
        font-size: 23px;
        padding-bottom: 10px;
        padding-top: 15px;
    }

    header {
        height: auto;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    section div p {
        font-size: 18px;
    }

    section h6 {
        font-size: 18px;
    }

    section img {
        width: 416px;
        height: 416px;
    }

    section div img:hover {
        width: 416px;
        height: 416px;
    }

    .middleboxes1 > :first-child {
        width: 206px;
    }

    .middleboxes1 > :last-child {
        width: 205px;
    }

    .middleboxes1 p {
        font-size: 16px;
    }

    .middleboxes1 ol {
        font-size: 13px;
    }

    .bottomboxes-1 {
        max-width: 937px;
    }

    .bottomboxes-1 p {
        font-size: 14px; 
        padding: 5px; 
    }



    main {
        height: auto;
    }

    footer div p {
        font-size: 18px;
    }

    footer h6 {
        font-size: 18px;
    }

    footer img {
        width: 416px;
        height: 416px;
    }

    footer div img:hover {
        width: 416px;
        height: 416px;
    }

    #middleboxes2 > :first-child {
        width: 206px;
    }

    #middleboxes2 > :last-child {
        width: 205px;
    }

    #middleboxes2 p {
        font-size: 16px;
    }

    #middleboxes2 ol {
        font-size: 13px;
    }

    .bottomboxes-2 {
        max-width: 937px;
    }

    .bottomboxes-2 p {
        font-size: 14px; 
        padding: 5px; 
    }

}



@media (min-width: 501px) and (max-width: 799px) {
    body {
        background-image: url(../img/white.png);
    }

    #wrapperforeverything h1 {
        font-size: 11vw;
        text-align: center;
    }

    nav {
        margin-bottom: 8%;
    }

    a {
        flex-basis: 17vw;
        font-size: 2.5vw;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    header {
        height: auto;
    }

    h2 {
        font-size: 6vw;
        padding: 0;
        margin-left: 2%;
    }

    h3 {
        font-size: 4vw;
    }

    section {
        display: grid;
        grid-template-columns: 48vw 30.4vw;
        grid-template-rows: 25vw 25vw 30vw 27vw 4vw;

        gap: 1px;
    }

    .bildegrid-1 {
        grid-column: 1;
        grid-row: 1 / 2;
        margin-left: 0.9%;
    }

    section > :nth-child(3) {
        background-color: black;
        grid-template-columns: 2;
        grid-row: 1;

        max-height: 22.7vw;
        margin-top: 5%;

        border-radius: 0 20px 0 0;
    }

    section > :nth-child(4) {
        background-color: black;
        grid-column: 2;
        grid-row: 2;

        max-height: 22.4vw;
        
        border-radius: 0 0 20px 0;
    }

    section > :nth-child(3) p, section > :nth-child(4) p {
        font-size: 3vw;
        color: whitesmoke;
        margin-left: 7%;
        margin-top: 8%;
        margin-bottom: 1%;

        padding: 0;
        font-family:"Barlow Semi-Condensed";
    }


    section > :nth-child(3) ol, section > :nth-child(4) ol {
        font-size: 1.6vw;
        color: whitesmoke;
        margin-top: 0;
        margin-left: 13%;
        padding: 0;
        line-height: 1.2;
        font-family:"Barlow Semi-Condensed";
    }

    section > :first-child {
        grid-row: 3;
        grid-column: 1 / 3;
    }

    section div p {
        font-size: 2.5vw;
    }

    section h6 {
        font-size: 2.5vw;
        max-width: none;
    }

    section img {
        border-radius: 20px 0 0 20px;
        
        width: 46vw;
        height: 46vw;
    }

    section div img:hover {
        width: 46vw;
        height: 46vw;
    }

    .middleboxes1 > :first-child {
        display: none;
    }

    .middleboxes1 > :last-child {
        display: none;
    }

    .bottomboxes-1 {
        display: grid;
        grid-template-columns: 20vw 19vw 19vw 19vw;
        grid-template-rows: 20vw 20vw;

        margin-right: 5%;
        margin-left: 3%;
        margin-bottom: 4%;
        margin-top: 3vw;
    }

    .bottomboxes-1 > :first-child {
        grid-column: 1;
        grid-row: 1;

        margin-left: 8%;
    }
    
    .bottomboxes-1 :nth-child(2) {
        grid-column: 3 / 5;
        grid-row: 1;

        margin-right: ;
    }
    
    .bottomboxes-1 :nth-child(3) {
        grid-column: 2; 
        grid-row: 2;  
    }
    
    .bottomboxes-1 :nth-child(4) {
        grid-column: 3;
        grid-row: 2; 
    }

    .bottomboxes-1 p {
        font-size: 1.8vw;   
    }


    main {
        height: auto;
    }

    footer {
        display: grid;
        grid-template-columns: 48vw 30.4vw;
        grid-template-rows: 25vw 25vw 30vw 27vw 4vw;

        gap: 1px;
    }

    .bildegrid-2 {
        grid-column: 1;
        grid-row: 1 / 2;
        margin-left: 0.9%;
    }

    footer > :nth-child(3) {
        background-color: rgb(35, 14, 14);
        grid-template-columns: 2;
        grid-row: 1;

        max-height: 22.7vw;
        margin-top: 5%;

        border-radius: 0 20px 0 0;
    }

    footer > :nth-child(4) {
        background-color: rgb(35, 14, 14);
        grid-column: 2;
        grid-row: 2;

        max-height: 22.4vw;
        
        border-radius: 0 0 20px 0;
        
    }

    footer > :nth-child(3) p, footer > :nth-child(4) p {
        font-size: 3vw;
        color: whitesmoke;
        margin-left: 7%;
        margin-top: 8%;
        margin-bottom: 1%;

        padding: 0;
        font-family:"Barlow Semi-Condensed";
    }


    footer > :nth-child(3) ol, footer > :nth-child(4) ol {
        font-size: 1.6vw;
        color: whitesmoke;
        margin-top: 0;
        margin-left: 13%;
        padding: 0;
        line-height: 1.2;
        font-family:"Barlow Semi-Condensed";
    }

    footer > :first-child {
        grid-row: 3;
        grid-column: 1 / 3;
    }

    footer div p {

        font-size: 2.5vw;
    }

    footer h6 {
        font-size: 2.5vw;
        max-width: none;
    }

    footer img {
        border-radius: 20px 0 0 20px;
        
        width: 46vw;
        height: 46vw;
    }

    footer div img:hover {
        width: 46vw;
        height: 46vw;
    }

    #middleboxes2 > :first-child {
        display: none;
    }

    #middleboxes2 > :last-child {
        display: none;
    }

    .bottomboxes-2 {
        display: grid;
        grid-template-columns: 19vw 19vw 19vw 19vw;
        grid-template-rows: 20vw 20vw;

        margin-right: 1.3%;
        margin-top: 6vw;
        margin-bottom: 3%;
    }

    .bottomboxes-2 > :first-child {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    
    .bottomboxes-2 :nth-child(2) {
        grid-column: 3;
        grid-row: 1;
    }
    
    .bottomboxes-2 :nth-child(3) {
        grid-column: 2 / 4; 
        grid-row: 2;  
    }
    
    .bottomboxes-2 :nth-child(4) {
        grid-column: 4;
        grid-row: 2; 
    }

    .bottomboxes-2 p {
        font-size: 1.7vw;   
    }

    h5 {
        font-size: 2vw;
    }
}

@media (min-width: 800px) {
    section > :nth-child(3) {
        display: none;
    } 

    section > :nth-child(4) {
        display: none;
    }

    footer > :nth-child(3) {
        display: none;
    }

    footer > :nth-child(4) {
        display: none;
    }

}