@font-face {
    font-family:"Barlow Condensed";
    src: url(Barlow_Condensed.zip);
}

@font-face {
    font-family:"Barlow Semi-Condensed";
    src: url(Barlow_Semi_Condensed.zip);
}

@font-face {
    font-family:"Bungee Outline";
    src: url(Bungee_Outline.zip);
}

@font-face {
    font-family: "Bungee Shade";
    src: url(Bungee_Shade.zip);
}



body {
    background-color: darkgrey;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
}

#wrapperforeverything {
    height: 200vh;
    min-width: 1200px;
    background-color: rgba(0, 0, 0, 0.627);
    border-radius: 20px;
    margin-top: 50px; 
}

#wrapperforeverything h1 {
    color:white;
    font-size: 80px;
    font-family: "Bungee Shade";
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 50px;
}

nav {
    padding: 20px;
    display: flex;
    gap: 4px;
    margin-bottom: 50px;
}

a {
    background-color: rgba(255, 255, 255, 0.789);
    color: black;
    text-decoration: none;
    padding: 20px;
    flex-basis: 246px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
}

header {
    height: 110vh;
    width: 1150px;
    background-color: rgba(0, 0, 0, 0.369);
    margin-left: 25px;
    border: 1px solid white;
    border-radius: 10px;
}

h2 {
    font-size: 35px;
    padding: 20px 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: white;
}

h3 {
    font-size: 25px;
    padding: 20px 10px;
    padding-top: 5px;
    margin-top: 0;
    color: white;
}


section div p{
    color: white;
    margin-left: 60px;
    margin-top: 0;
    margin-bottom: 60px;
}

section h6 {
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-bottom: 4px;
    max-width: 700px;

}

section {
    display: flex;
}

section img {
    border-radius: 20px 20px 0px 0px;
    margin: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
}

section img:hover {
    background-image: url(../img/MJrecord11.jpg);
    
}

.middleboxes1 {
    max-width: 200px;

    display: grid;
    grid-template-columns: 221px 221px 221px 221px 223px;
    gap: 8px;
    
}

.middleboxes1 div:first-child {
    grid-column: 4;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 0px 20px;
    color: white;
}

.middleboxes1 div:last-child {
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 20px 0px;
    color: white;

}

.middleboxes1 p {
    margin: 15px;
    margin-bottom: 0px;
    font-size: 20px;
}

.middleboxes1 ol {
    padding-left: 30px;
    margin-top: 2px;
    font-size: 15px;
}




