h6 {
    margin-right: 10px;
}

img {
    height: 35vw;
    width: 35vw;  
}

img:hover {
    content: url(../img/MJrecord11.jpg);
    height: 35vw;
    width: 35vw;   
}

section {
    display: flex;
}

#bildegrid-1 {
    display: grid;
}

.middleboxes1 {
    display: flex;
    gap: 5px;
}

.middleboxes1 > :first-child {
   background-color: rgb(0, 0, 0);
   width: 17.2vw;
   border-radius: 0px 0px 20px 20px;
   color: whitesmoke;
}

.middleboxes1 > :last-child {
    background-color: rgb(0, 0, 0);
    width: 17.5vw;
    border-radius: 0px 0px 20px 20px;
    color: whitesmoke;
}

.middleboxes1 p {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 100%;
}

.middleboxes1 ol {
    margin-top: 0px;
    font-size: 90%;
}



